body {
margin:0;
font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: blue;
}
.menuPages {
  overflow: hidden;
  background-color: #b4b4b4;
}

.menuPages a {
  float: left;
  display: block;
  color: blue;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menuPages a:hover {
  background-color: #ddd;
  color: black;
}

.menuPages a.active {
    background-color: #4CAF50;
    color: white;
}
